.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 42px;
  margin-bottom: 27px;
}
.screen-header__title {
  font-size: 20px;
  font-weight: 500;
}
.screen-header__icons span {
  margin-left: 19px;
}
.screen-header__icons i {
  font-size: 18px;
  cursor: pointer;
}
